body { background-color:#FFD9EC; }
h1 {
color:BLACK;
text-align:center;
font-family:"微軟正黑體";
font-size:30px;
background-color:#C1FFE4}

h2,h3,h4,h5 {
color:black;
text-shadow: 2px 2px 5px red;
text-align:center;
font-family:"Arial";
font-size:25px }

p {
font-family:"Arial";
font-size:35px; 
color:orange;
text-align:center;
border: 5px solid;
padding: 10px;
box-shadow: 5px 5px blue;
background-color: #FFD2D2}

img {
width:80%;
height:auto;
display:block;
margin:auto;
}

